/* Flex the icons to end */
.both-arrows {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2px;
  flex-direction: column;
}

.css-b9tlhv-MuiTableCell-root{
 border: 1px solid rgb(213 207 199) !important;
}

.css-hdgv9j-MuiTypography-root{
  line-height: 1.2 !important;
}
.css-x5ictg-MuiTypography-root{
text-align: start !important;
}

.table-cell-custom {
  text-align: center !important;
  color: white !important;
  border: 1px solid #d5cfc7;
}
.textalign-start{
  text-align: start !important;
}

.both-arrows .arrow {
  border: 1px solid white;
  cursor: pointer;
}

.both-arrows .arrow.asc,
.both-arrows .arrow.desc {
  border-width: 12px 6px 0px 6px;
  border-color: rgba(103, 100, 190, 1) transparent transparent transparent;
  transition: 0.2s;
}

.both-arrows .arrow.asc:hover,
.both-arrows .arrow.desc:hover {
  border-color: rgb(157, 156, 185) transparent transparent transparent;
}

.both-arrows .arrow.asc {
  transform: rotate(180deg);
}


.table-container::-webkit-scrollbar {
  height:8px;
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f1f1f1 !important;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #d5cdcd !important;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #cfcbcb !important;
}
